@import "normalize";

body {
  font-family: "Lato", sans-serif;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.first-screen {
  background: url(../img/table.png) no-repeat;
  width: 100%;
  background-size: cover;
  height: 767px;
  position: relative;
  overflow-x: hidden;
  .content {
    /* position: relative;*/
    .bg-content {
      position: absolute;
      font-size: 200px;
      z-index: 0;
      font-weight: 900;
      color: rgba(231, 231, 231, 0.7);
      top: 131px;
      left: 259px;
    }
  }
}

.title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .olios {
    font-size: 110px;
    font-weight: 100;
    margin-top: 138px;
    margin-bottom: 28.5px;
    color: #000000;
    z-index: 6;
  }
  .description-titile {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 21.5px;
    z-index: 6;
  }
  .act-content {
    cursor: pointer;
    width: 215px;
    height: 55px;
    background: #0023ff;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: #fff;
    font-weight: 900;
    z-index: 6;
    &:hover {
      color: gray;
    }
  }
}

.side-bar {
  background: #fff;
  width: 132px;
  height: 100%;
  position: fixed;
  top: 40px;
  left: 0;
  box-shadow: 0 0 15.5px 0 rgba(230, 230, 230, 0.6);
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    margin-top: 112px;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
      height: 150px;
      justify-content: space-between;
      .items {
        .icons {
          &:hover {
            overflow: hidden;
            width: 42px;
            height: 42px;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            -webkit-transition: all 1s ease-out;
          }
        }
      }
    }
  }
  .search {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    .downoad-icons:hover {
      overflow: hidden;
      width: 42px;
      height: 42px;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
    }
  }
}

.left-menu {
  position: fixed;
  top: 40px;
  width: 370px;
  right: 5px;
  height: 100%;
  background: #fff;
  .humburger {
    position: relative;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    .lines {
      position: absolute;
      top: 16px;
      left: 15px;
      .line {
        width: 19px;
        height: 3px;
        background: #0023ff;
        margin-bottom: 4px;
      }
    }
  }
  .slide-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 552px;
    align-items: center;
  }
}
