.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 48px;
  right: 0;
  bottom: 0;
  width: 187px;
  box-shadow: 0 0 12.5px 0 rgba(219, 219, 219, 0.5);
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;

  .menu-item {
    flex: 1;
    margin: 198px 0 20px;

    li {
      padding: 0 37px;
      margin-bottom: 40.5px;

      a {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        span {
          font-size: 9px;
          letter-spacing: 0.2px;
          color: #c1c1c1;
          text-transform: uppercase;
          margin-right: 20px;
        }
      }
    }
  }

  p {
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    text-align: center;
    color: #0023ff;
    margin-bottom: 0px;
  }

  hr {
    width: 78.5px;
    height: 1px;
    background-color: #0023ff;
    border: none;
    margin-bottom: 40px;
  }
}