.registered-form {
  .sign-in-container {
    margin-top: 30;

    .sign-in-logo {
      margin-bottom: 20px;
    }

    .sign-in-form {

      form {


        .privacy-info {
          color: #c1c1c1;
          font-size: 12px;
        }
      }
    }
  }
}

.forgot-container {
  .forgot-placeholder {
    color: #8498aa;
    font-size: 17px;
    text-align: center;
    margin-bottom: 40px;
  }
}