* {
  list-style: none;
  font-family: Lato;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.left-navigation {
  position: fixed;
  height: calc(100% - 48px);
  background-color: #fff;
  width: 72px;
  margin-top: 48px;
}

.left-navigation nav {
  display: flex;
  flex-direction: column;
  height: calc(100% - 48px);
}

.for-logo {
  margin-bottom: 72px;
  padding-top: 16px;
}

.for-logo svg {
  width: 21px;
  height: 21px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  height: 136px;
  justify-content: space-between;
}

.in {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.main-navigation svg,
.in svg {
  width: 13.5px;
  height: 16px;
}

.left-navigation nav:only-child {
  margin-left: 25px;
}

.main-page {
  background: url(../img/main.jpg) no-repeat center 100%;
  background-attachment: fixed;
  min-height: 767px;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.main-title-content {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-top: 138px;
}

.main-content {
  width: 660px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-title {
  font-size: 110px;
  font-weight: 100;
  line-height: 0;
  letter-spacing: 2px;
  z-index: 1;
}

.main-title-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #000000;
}

.view-button {
  background-color: #0023ff;
  border-radius: 30px;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  width: 107.5px;
  height: 27px;
}

.view-button a {
  color: #fff;
}

.under-main-title {
  font-size: 200.3px;
  font-weight: 900;
  letter-spacing: 5px;
  color: rgba(231, 231, 231);
  position: absolute;
  top: -159px;
  left: -103px;
  z-index: -1;
  opacity: 0.7;
  text-transform: uppercase;
}