* {
  font-family: Lato;
  text-decoration: none;
}

.main-page {
  display: flex;
  background: url("../img/main.jpg") center top no-repeat;
  background-size: 100%;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

ul {
  list-style: none;
}

.left-navigation {
  background-color: #fff;
  width: 145px;
  z-index: 2;
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: center;
}

.main-title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
  z-index: 1;
  position: relative;
}

.main-title {
  font-size: 110px;
  font-weight: 100;
  line-height: 0px;
  text-transform: uppercase;
  margin-top: 0;
}

.under-main-title {
  font-size: 200px;
  font-weight: 900;
  color: #e9e9e9;
  position: absolute;
  z-index: -1;
  top: -227px;
  left: -251px;
  text-transform: uppercase;
}

.main-title-content p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: light;
  margin-bottom: 21px;
}

.view-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0023ff;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  width: 215px;
  height: 54px;
  margin-bottom: 405px;
}

.view-button a {
  color: #fff;
}

.for-menu {
  width: 145px;
}

.menu-icon {
  height: 90px;
  width: 90px;
  background: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  float: left;
}


.test-container {
  display: flex;
}

.switches {
  display: flex;
  width: 188px;
  justify-content: space-between;
  margin-bottom: 95px;
  position: absolute;
  top: 490px;
  right: -400px;
}

.active-switch {
  background-color: #0023ff;
  content: '';
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.switch-item:hover {
  background-color: #0023ff;
  content: '';
  height: 17px;
  width: 17px;
  border: none;
}

.switch-item {
  content: '';
  border-radius: 100%;
  border: 4px solid #dadada;
  height: 9px;
  width: 9px;
  cursor: pointer;
}