section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
section.active {
  max-height: 500px;
}
#accordion {
  font-family: ubuntu, sans-serif;
  width: 400px;
  height: 500px;
  border: 1px solid black;
  box-sizing: border-box;
  color: black;
  overflow: hidden;
}
h3 {
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: blue;
  height: 40px;
  color: aliceblue;
}
