@import "normalize";

body {
  min-height: 800px;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100%;
  background: url(../image/background.png) no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%;
}

.navbar {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 70px;
  box-shadow: 0 0 12px rgba(219, 219, 219, 0.5);
  background: #fff;
}

.navbar .logo {
  width: 20px;
  height: 20px;
  margin-top: 17px;
  margin-bottom: 75px;
}

.navbar .logo img {
  width: 100%;
}

.navbar .login {
  margin-bottom: 50px;
}

.navbar .login img {
  height: 16px;
}

.navbar .nav_links {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar .nav_links a {
  display: block;
  margin-bottom: 40px;
  text-align: center;
}

.navbar .nav_links a img {
  height: 16px;
}

.side-nav-toggle {
  position: fixed;
  top: 87px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 12px rgba(219, 219, 219, 0.5);
  cursor: pointer;
}

.side-nav-toggle span {
  display: block;
  width: 9px;
  height: 2px;
  margin-bottom: 2px;
  background: #0023ff;
  box-shadow: 0 0 12px rgba(219, 219, 219, 0.5);
  border-radius: 50%;
}

.side-nav-toggle span:last-child {
  margin-bottom: 0;
}
#modal:checked ~ .side-nav {
  left: 1500px;
  transition: 0.5s;
}
// #Modal:checked ~ .side-nav {
//   left: 1800px;
//   transition: 0.5s;
// }

#Modal {
  display: none;
}
.close {
  text-decoration: none;
  position: absolute;
  width: 42px;
  height: 42px;
  background: #fff;
  color: #0023ff;
  font-weight: 700;
  box-shadow: 0 0 12px rgba(219, 219, 219, 0.5);
  border-radius: 50%;
  top: 40px;
  right: 35px;
  cursor: pointer;
  text-align: center;
  line-height: 42px;
}

.side-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  right: 0;
  left: 2000px;
  top: 48px;
  bottom: 0;
  width: 188px;
  background: #fff;
  box-shadow: 0 0 12px rgba(219, 219, 219, 0.5);
  overflow: auto;
}

.side-nav ul {
  flex: 1;
  width: 100%;
  margin: 198px 0 20px;
  padding: 0;
  list-style: none;
}

.side-nav ul li {
  padding: 0 37px;

  margin-bottom: 40px;
}

.side-nav ul li a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 9px;
  color: #c1c1c1;
  text-transform: uppercase;
  text-decoration: none;
}

.side-nav ul li a span {
  margin-right: 20px;
}

.side-nav ul li a img {
  width: 28px;
}

.side-nav a.show-all {
  display: block;
  margin-bottom: 40px;
  font-size: 9px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #0023ff;
}

.side-nav .show-all hr {
  width: 78px;
  border: none;
  height: 1px;
  margin: 6px auto 0;
  background: #0023ff;
}

main .home-page {
  text-align: center;
  position: relative;
}

.newest {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  text-transform: uppercase;
  width: 831.5px;
  height: 149.5px;
  opacity: 0.7;
  font-size: 250px;
  font-weight: 900;
  letter-spacing: 5px;
  color: rgba(231, 231, 231, 0.7);
  left: 260px;
  top: 0px;
  // z-index: 100;
}
main .home-page .page-title {
  margin: 112px 0 0;
  font-size: 160px;
  font-weight: 200;
  letter-spacing: 2.8px;
  color: #000;
  // z-index: 1;
}

main .home-page .page-subtitle {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  // z-index: 2;
}

main .home-page .view-more {
  margin-top: 19px;
  padding: 9px 27px 8px;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius: 13.5px;
  border: none;
  background: #0023ff;
  cursor: pointer;
  // z-index: 2;
}
