$margin: 30px;
$bgblock: #ffffff;
$shadowblock: 0px 0.5px 1.5px 0 rgba(0, 0, 0, 0.15);

body {
  background-color: #e1e7ed;
  display: flex;
  font-family: 'Roboto', sans-serif;

  .container {
    margin: auto;
    width:1140px;
    display: flex;
    flex-wrap: wrap;

    hr {
      border: none;
    }

    button {
      cursor: pointer;
      border: none;
    }
  }
}

.playPause {
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50%;
  display: flex;
  position: relative;
  cursor: pointer;

  .traingleRight {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 13px solid #000000;
    border-bottom: 7px solid transparent;
    margin: auto;
  }

  .insideTraingle {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 8px solid #ffffff;
    border-bottom: 4px solid transparent;
    position: absolute;
    top: 50%;
    transform: translate(70%,-50%);
    left: 10px;
  }
}

.textAndArrow {
  display: flex;

  span {
    font-size: 14px;
    font-weight: 500;
    color: #33363b;
  }

  .arrowRight {
    position: relative;
    margin-left: 9px;
    cursor: pointer;

    hr {
      width: 12px;
      height: 2px;
      background-color: black;
      position: absolute;

      &:first-child {
        transform: rotate(45deg);
        width: 8px;
        top: -2px;
        left: 6px;
      }

      &:last-child {
        transform: rotate(315deg);
        width: 8px;
        top: 2px;
        left: 6px;
      }
    }
  }
}