.wholeGraph {

  .diagram {
    width: 750px;
    height: 457px;
    background-color: #8c91ff;
    display: flex;
    flex-wrap: wrap;

    .axisY {
      width: 90px;
      padding: 37px 0 23px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;


    span {
       display: block;
       font-size: 14px;
       color: #ffffff;
      }
    }

    .axisX {
      font-size: 14px;
      color: #ffffff;
      padding: 0 140px 15px 200px;
      display: flex;
      justify-content: space-between;
      width: 100%;

      span {
        display: block;
      }

    }

     .chart {
        width: 660px;

        table {
          border-color: rgba(255, 255, 255, 0.3);
          color: #8c91ff;
          margin-top: 45px;
        }
    }
  }

  .dataDiagram {
    display: flex;
    justify-content: space-between;
    background: $bgblock;
    height: 107px;
    padding: 30px;
    box-sizing: border-box;

    .starting {

      p {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.45px;
        color: #33363b;
        margin-top: 0;
      }

      span {
        font-size: 14px;
        letter-spacing: 0.35px;
        color: #868d9b;
      }
    }
  }
}