@import "normalize";
@import 'products';
@import 'basket';
@import 'search';

$blue : #0023ff;

body {
  background: url(../img/main.jpg) no-repeat center 100%;
  background-attachment: fixed;
  background-size: cover;
}

* {
  list-style: none;
  font-family: Lato;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.left-navigation {
  z-index: 98;
  position: fixed;
  height: calc(100% - 48px);
  background-color: #fff;
  width: 72px;
  margin-top: 48px;
  box-shadow: 20px 0px 32px -22px rgba(204, 192, 202, 1);

  nav {
    display: flex;
    flex-direction: column;
    height: calc(100% - 48px);
  }
}

.for-logo {
  margin-bottom: 72px;
  padding-top: 16px;

  svg {
    width: 21px;
    height: 21px;
  }
}

.main-navigation {
  display: flex;
  flex-direction: column;
  height: 136px;
  justify-content: space-between;
}

.in {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.main-navigation svg,
.in svg {
  width: 13.5px;
  height: 16px;
}

.left-navigation nav:only-child {
  margin-left: 25px;
}

.main-page {
  display: flex;
  justify-content: center;
}

.main-title-content {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-top: 138px;
}

.main-content {
  width: 660px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-title {
  font-size: 110px;
  font-weight: 100;
  line-height: 0;
  letter-spacing: 2px;
  z-index: 1;
}

.main-title-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #000000;
}

.view-button {
  background-color: $blue;
  border-radius: 30px;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  width: 107.5px;
  height: 27px;

  a {
    color: #fff;
  }
}

.under-main-title {
  font-size: 200.3px;
  font-weight: 900;
  letter-spacing: 5px;
  color: rgb(231, 231, 231);
  position: absolute;
  top: -159px;
  left: -103px;
  z-index: -1;
  opacity: 0.75;
  text-transform: uppercase;
}

.for-menu {
  position: relative;

  .menu-btn {
    width: 43.5px;
    height: 43.5px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    right: 27px;
    top: 88px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.75);

    span {
      content: "";
      width: 13px;
      height: 1.5px;
      background-color: $blue;
      display: block;

      &:first-child {
        position: relative;
        top: -3px;
      }

      &:last-child {
        position: relative;
        top: 3px;
      }
    }
  }

  .menu {
    background-color: #fff;
    position: fixed;
    right: 0;
    height: 100%;
    top: 48px;
    width: 187px;
    transition: 0.5s;
    transform: translateX(100%);
    text-transform: uppercase;

    @media (max-height: 700px) {
      overflow-y: auto;
    }

    ul {
      margin-top: 198px;
      display: flex;
      flex-direction: column;
      height: 280px;

      @media (max-height: 722px) {
        margin-top: 100px;
      }

      .menu-items {
        display: flex;
        justify-content: flex-end;
        height: 30px;
        margin-bottom: 33px;

        a {
          font-size: 9px;
          color: #c1c1c1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        svg {
          width: 28px;
          height: 30px;
          margin-left: 18.5px;
          margin-right: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .menu-item-show-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 124px;

        @media (max-height: 722px) {
          margin-top: 20px;
        }

        a {
          font-size: 9px;
          color: $blue;
        }

        hr {
          height: 2px;
          border: none;
          width: 40px;
          background-color: $blue;
          width: 79px;
        }
      }
    }
  }
}

.menu_active {
  transform: translateX(0%) !important;
}

.menu-btn_active {
  span {
    transition: 0.7s;
    transform: rotate(180deg);
    background-color: #c1c1c1 !important;
  }
}