body {
  font-family: HelveticaNeue;
}

.container {
  width: 416px;
  margin: 0 auto;
}

.header-top {
  padding: 9px 0;
  background-color: #405a93;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.header-bottom {
  padding: 15px 0 13px;
  background-color: #fefbe4;
  font-size: 14px;
  font-weight: 500;
  color: #405a93;
  text-align: center;
}

.form-inputs {
  margin-top: 15px;
}

.form-inputs input {
  display: block;
  width: 100%;
  padding: 13px 12px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  border: 1px solid #d2d5d9;
  box-sizing: border-box;
}

.form-inputs .top-input {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}
.form-inputs .bottom-input {
  border-radius: 0 0 5px 5px;
}

.log-in {
  display: block;
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #447add;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.line {
  width: 330px;
  margin: 20px auto;
  border: none;
  height: 1px;
  background: #d2d5d9;
}

.create-account {
  display: block;
  width: 167px;
  margin: 12px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #49a02d;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.bottom-links {
  text-align: center;
}
.bottom-links a {
  font-size: 12px;
  font-weight: 500;
  color: #99add1;
  text-decoration: none;
  letter-spacing: 0.2px;
}

.bottom-links .dot {
  display: inline-block;
  position: relative;
  top: 1px;
  margin: 0 2px;
  color: #757575;
}
