html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  box-sizing: border-box;
  background: rgb(205, 245, 187);
}

main {
  flex-grow: 1;
  box-sizing: border-box;
}

footer {
  flex-shrink: 0;
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
  background: black;
  color: #fff;
}
