* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@-webkit-keyframes button {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}

body {
	font-family: 'Lato', sans-serif;
}

.header {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(img/bg.jpg) center no-repeat;
	background-size: cover;
}

.header_content {
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header_content h1 {
	text-transform: uppercase;
	font-size: 110px;
	font-weight: 100;
	margin-top: 138px;
	margin-bottom: 28px;
}

.header_content p {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 21px;
}

.header_content button {
	width: 215px;
	height: 55px;
	background-color: #0023ff;
	border-radius: 50px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 9px;
	font-weight: 900;
	cursor: pointer;
	animation-name: button;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	transition: all 0.5s ease;
}

.header_content button:hover {
	background-color: #001cd3;
}

.bg_text {
	position: absolute;
	top: 130px;
	left: 415px;
	z-index: 0;
}

.bg_text h2 {
	color: rgba(231, 231, 231, 0.7);
	font-size: 200px;
	font-weight: 900;
	text-transform: uppercase;
}

.aside {
	width: 75px;
	height: 100vh;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
}

.logo {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.logo img {
	width: 42px;
	height: 42px;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 115px;
}

.nav ul {
	list-style: none;
	text-align: center;
}

.nav_logo {
	margin-bottom: 80px;
}

.add {
	display: flex;
	justify-content: center;
	margin-top: 315px;
}

.nav_home {
	fill: #D8D8D8;
}

.nav_home:hover {
	fill: #001cd3;
}

.humburger {
	position: fixed;
	top: 75px;
	right: 55px;
	z-index: 5;
	display: flex;
	justify-content: flex-end;
}

.menu-btn {
	position: relative;
	box-shadow: 0 0 12.5px 0 rgba(219, 219, 219, 0.5);
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border-radius: 50%;
}

.menu-btn span {
	position: absolute;
	top: 50%;
	margin-top: -1px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 2px;
	background-color: #0023ff;
}

.menu-btn span::before, .menu-btn span::after {
	content: "";
	display: block;
	transition: 0.2s;
	background-color: #0023ff;
	width: 20px;
	height: 2px;
}

.menu-btn span::before {
	transform: translateY(-5px);
}

.menu-btn span::after {
	transform: translateY(3px);
}

.menu-btn-active span {
	height: 0;
}

.menu-btn-active span::before {
	transform: translateY(0px);
}

.menu-btn-active span::after {
	transform: translateY(0px);
}

.nav_right {
	width: 185px;
	height: 100vh;
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	background-color: #ffffff;
	transform: translateX(+100%);
}

.nav_right_active {
	transform: translateX(0%);
}