.heart {
  margin-top: 150px;

  svg {
    animation-name: heart-beat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}



@keyframes heart-beat {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.2);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(1);
  }
}