@import "normalize";
section {
  max-height: 0;
  width: 300px;
  overflow: hidden;
  transition: max-height 0.5s;
  border-radius: 0 0 4px 4px;
  text-align: center;
  background: rgb(238, 238, 238);
}
section.active {
  max-height: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  button {
    margin-top: 2px;
    width: 300px;
    height: 30px;
    background: rgb(119, 178, 255);
    border-radius: 4px 4px 0 0;
    color: white;
    border: none;
    outline: none;
  }
}
